In [1]:
print('Fun Programming!')

Fun Programming!

In [ ]:
print("Programming! It's fun.")

In [2]:
print("My name is Hong Gil Dong.\nI am 13 years old.")

My name is Hong Gil Dong.
I am 13 years old.

In [3]:
print("(@) (@)\n(=^.^=)\n(-m-m-)")

(@) (@)
(=^.^=)
(-m-m-)

In [4]:
print("I can program well.\nDreams come true.")

I can program well.
Dreams come true.

In [ ]:
print("      item     count     price")
print("       pen        20       100")
print("      note         5        95")
print("    eraser       110        97")

In [6]:
print("TTTTTTTTTT")
print("TTTTTTTTTT")
print("%6s" %"TT")
print("%6s" %"TT")
print("%6s" %"TT")

TTTTTTTTTT
TTTTTTTTTT
    TT
    TT

In [11]:
print("%15s%15s%15s" %("Seoul","10,312,545","+91,375"))
print("%15s%15s%15s" %("Pusan","3,567,910","+5,868"))
print("%15s%15s%15s" %("Incheon","2,758,296","+64,888"))
print("%15s%15s%15s" %("Daegu","2,511,676","+17,230"))
print("%15s%15s%15s" %("Gwangju","1,454,636","+29,774"))

          Seoul     10,312,545        +91,375
          Pusan      3,567,910         +5,868
        Incheon      2,758,296        +64,888
          Daegu      2,511,676        +17,230
        Gwangju      1,454,636        +29,774

In [12]:
x=-100
print(x)

-100

In [13]:
x=-1
y=100
print(x)
print(y)

-1
100

In [16]:
x=49
y=0.2683
z=x*y
print("49 * 0.268300 = %0.6f" %z)

49 * 0.268300 = 13.146700

In [23]:
x=91.44
y=2.54

print(" 2.1yd = %.1fcm" %(2.1*x))
print("10.5in =  %.1fcm" %(10.5*y))

 2.1yd = 192.0cm
10.5in =  26.7cm

In [28]:
x=input("height = ")
y=int(x)
print("Your height is %dcm." %y)

height = 170
Your height is 170cm.

In [34]:
x,y=input().split()

x=int(x)
y=int(y)


print("%d * %d = %d" %(x,y,x*y))
print("%d / %d = %d" %(x,y,x/y))

16 5
16 * 5 = 80
16 / 5 = 3

In [35]:
x=float(input())
y=float(input())
z=input()

print("%.2f" %x)
print("%.2f" %y)
print(z)

12.2536
526.129535
A
12.25
526.13
A

In [36]:
x=float(input())
y=float(input())
z=float(input())

print("%.3f" %x)
print("%.3f" %y)
print("%.3f" %z)

1.2568
95.1234563
526.58746343
1.257
95.123
526.587

In [37]:
x=10
y=20
z=30

print("%d + %d = %d" %(x,y,z))

10 + 20 = 30

In [39]:
x=80.5
y=22.34
z=x+y

print("%10.2f%10.2f%10.2f" %(x,y,z))

     80.50     22.34    102.84

In [42]:
x=50
y=100.12

print("%.2f * %d = %d" %(y,x,x*y))

100.12 * 50 = 5006

In [45]:
x,y,z=input().split()
x=int(x)
y=int(y)
z=int(z)


print("sum = %d" %(x+y+z))
print("avg = %d" %((x+y+z)/3))

20 50 100
sum = 170
avg = 56

In [ ]:
a=input("whoaryou")

In [48]:
x=float(input("yard? "))
print("%.1fyard = %.1fcm" %(x,x*91.44))

yard? 10.1
10.1yard = 923.5cm

In [49]:
#세 개의 정수를 입력 받아서 합계와 평균을 출력하시오. 
# 단 평균은 소수 이하를 버리고 정수부분만 출력한다.

x,y,z=input().split()
x=int(x)
y=int(y)
z=int(z)
sum1=x+y+z
avg=sum1/3

print("sum : %d" %sum1)
print("avg : %d" %avg)

10 25 33
sum : 68
avg : 22

In [50]:
#정수 2개를 입력받아서 첫 번째 수에는 100을 증가시켜 저장하고 두 번째 수는 10으로 나눈 나머지를 저장한 후 두 수를 차례로 출력하는 프로그램을 작성하시오.

x,y=input().split()
x=int(x)+100
y=int(y)%10

print(x,y)

20 35
120 5

In [54]:
#한 개의 정수를 입력 받아서 후치증가 연산자를 사용하여 출력한 후 전치 증가 연산자를 사용하여 출력하는프로그램을 작성하시오.

x=int(input())
print(x)
print(x+2)

5
5
7